@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$timing        : 265ms;
$iconColor     : #00B5F5;
$accent        : #002A8F;
$bluefade      : #0043E0;
$gradient      : #00B5F5;

@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}

body {
    background-color: rgba($iconColor, 0.05);
}

.social-container {
    width: 400px;
    margin: 40vh auto;
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
  
    li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;

    }

    i {
        color: #fff;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all $timing ease-out;
    }

    a {
        display: inline-block;
      
        &:before {
            @include transformScale();
            content: " ";
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, $iconColor, $accent);
            transition: all $timing ease-out;
        }
        
        &:hover:before {
            transform: scale(0);
            transition: all $timing ease-in;
        }
        
        &:hover i {
            @include transformScale(2.2);
            color: $iconColor;
            background: -webkit-linear-gradient(45deg, $iconColor, $accent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all $timing ease-in;
        }
    }
  
}











/* Demo Stuff */
*,:before,:after{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    }
    
    h1, h2 {
      text-align: center;
      line-height: 20px
    }
    h1 {
        color: rgba(0,0,0,.8);
    }
    
    h2 {
      color: rgba(0,0,0,.2);
    }
    
    .social-container {
        margin:0 auto;
      padding: 40px 0;
        width:200px;
      height:100%;
    }
    
    /* Add this ID to a section or something you want to change the background-color */
    #social-section {
      padding:60px 0;
      -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    }
    
    /* Button Styles */
    .social-container a {
    display: block;
    width:200px;
    line-height: 40px;
    border: 1px solid rgba(0,0,0,.1);
    color: rgba(0,0,0,.6);
    margin:20px 0;
    text-decoration: none;
    text-align:center;
    }
    
    .social-container a i {
    margin-right: 15px;   
    }
    
    .social-container a:hover  {
    border: 1px solid rgba(255,255,255,.3);
    color: rgba(255,255,255,.6);
    }
    
    /* Hover background colors */
    .color-twitter {
      background-color: #00aced !important;
    }
    .color-facebook {
      background-color: #3b5998 !important;
    }
    .color-pinterest {
      background-color: #cc2127 !important;
    }
    .color-googleplus {
      background-color: #dd4b39 !important;
    }
    .color-dribbble {
      background-color: #ea4c89 !important;
    }
    .color-instagram {
      background-color: #417399 !important;
    }
    
    .color-twitter,
    .color-facebook,
    .color-pinterest,
    .color-googleplus,
    .color-dribbble,
    .color-instagram {
    -webkit-transition: all 2s ease-in;
    -moz-transition: all 2s ease-in;
    -ms-transition: all 2s ease-in;
    -o-transition: all 2s ease-in;
    transition: all 2s ease-in;
    }