.17_22 { 
	overflow:hidden;
}.e17_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:1873px;
	height:4500px;
	position:absolute;
}.e20_61 { 
	color:rgba(0, 0, 0, 1);
	width:41px;
	height:19px;
	position:absolute;
	left:398px;
	top:25px;
	font-family:Lato;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e20_62 { 
	color:rgba(0, 0, 0, 1);
	width:46px;
	height:19px;
	position:absolute;
	left:555px;
	top:25px;
	font-family:Lato;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e20_63 { 
	color:rgba(0, 0, 0, 1);
	width:53px;
	height:19px;
	position:absolute;
	left:697px;
	top:24px;
	font-family:Lato;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e20_64 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:19px;
	position:absolute;
	left:851px;
	top:25px;
	font-family:Lato;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e20_66 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:19px;
	position:absolute;
	left:1061px;
	top:25px;
	font-family:Lato;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e21_76 { 
	width:25px;
	height:25px;
	position:absolute;
	left:370px;
	top:22px;
	background-image:url(images/ggggggggggggg_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e21_72 { 
	width:55px;
	height:30px;
	position:absolute;
	left:493px;
	top:22px;
	background-image:url(images/jjjjjjjjjj.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e21_74 { 
	width:43px;
	height:35px;
	position:absolute;
	left:648px;
	top:16px;
	background-image:url(images/ooooooooo.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e21_71 { 
	width:46px;
	height:30px;
	position:absolute;
	left:801px;
	top:22px;
	background-image:url(images/iiiii.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e21_75 { 
	width:26px;
	height:49px;
	position:absolute;
	left:1026px;
	top:5px;
	background-image:url(images/oooooooooooooooooooo.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e21_84 { 
	width:25px;
	height:28px;
	position:absolute;
	left:1374px;
	top:20px;
	background-image:url(images/ggggggggggggg_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e21_85 { 
	width:120px;
	height:25px;
	position:absolute;
	left:1402px;
	top:22px;
	background-image:url(images/logo_oficial_s_suzuki_horizontal2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e21_139 { 
	width:1px;
	height:70px;
	position:absolute;
	left:469px;
	top:0px;
}.e21_138 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_140 { 
	width:1px;
	height:70px;
	position:absolute;
	left:630px;
	top:0px;
}.ei21_140_21_138 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_144 { 
	width:1px;
	height:70px;
	position:absolute;
	left:781px;
	top:0px;
}.ei21_144_21_138 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_146 { 
	width:1px;
	height:70px;
	position:absolute;
	left:995px;
	top:0px;
}.ei21_146_21_138 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
}.e21_156 { 
	background-color:rgba(235.0000011920929, 33.00000183284283, 39.00000147521496, 1);
	width:135px;
	height:37px;
	position:absolute;
	left:0px;
	top:719px;
}.e21_157 { 
	background-color:rgba(235.0000011920929, 33.00000183284283, 39.00000147521496, 1);
	width:224px;
	height:37px;
	position:absolute;
	left:1649px;
	top:719px;
}.e21_158 { 
	background-color:rgba(177.0000046491623, 183.00000429153442, 187.00000405311584, 1);
	width:1514px;
	height:37px;
	position:absolute;
	left:135px;
	top:719px;
}.e22_5 { 
	width:1873px;
	height:600px;
	position:absolute;
	left:0px;
	top:70px;
	background-image:url(images/r1000_desktop_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e22_11 { 
	background-color:rgba(111.5625, 111.5625, 111.5625, 1);
	width:1100px;
	height:173px;
	position:absolute;
	left:402px;
	top:805px;
	border-top-left-radius:19px;
	border-top-right-radius:19px;
	border-bottom-left-radius:19px;
	border-bottom-right-radius:19px;
}.e22_123 { 
	width:13px;
	height:12px;
	position:absolute;
	left:15px;
	top:732px;
}.e22_16 { 
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:10px;
	top:4px;
}.e22_83 { 
	background-color:rgba(243.00000071525574, 191.00000381469727, 235.0000011920929, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:1px;
	top:3px;
}.e22_82 { 
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:11px;
	top:4px;
}.e22_80 { 
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:9px;
	top:4px;
}.e22_79 { 
	background-color:rgba(235.0000011920929, 171.00000500679016, 220.00000208616257, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:8px;
	top:4px;
}.e22_112 { 
	background-color:rgba(242.00000077486038, 64.00000378489494, 39.00000147521496, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:10px;
	top:11px;
}.e22_111 { 
	background-color:rgba(247.00000047683716, 100.00000163912773, 39.00000147521496, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:11px;
	top:10px;
}.e22_110 { 
	background-color:rgba(255, 241.00000083446503, 213.00000250339508, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:10px;
	top:10px;
}.e22_109 { 
	background-color:rgba(253.0000001192093, 191.00000381469727, 130.0000074505806, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:11px;
	top:9px;
}.e22_108 { 
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:10px;
	top:9px;
}.e22_107 { 
	background-color:rgba(235.0000011920929, 64.00000378489494, 136.00000709295273, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:9px;
	top:8px;
}.e22_120 { 
	background-color:rgba(235.0000011920929, 33.00000183284283, 81.00000277161598, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:7px;
	top:9px;
}.e22_106 { 
	background-color:rgba(249.00000035762787, 191.00000381469727, 164.00000542402267, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:10px;
	top:8px;
}.e22_105 { 
	background-color:rgba(254.00000005960464, 241.00000083446503, 235.0000011920929, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:9px;
	top:11px;
}.e22_104 { 
	background-color:rgba(255, 255, 255, 1);
	width:6px;
	height:1px;
	position:absolute;
	left:4px;
	top:10px;
}.e22_103 { 
	background-color:rgba(252.00000017881393, 241.00000083446503, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:9px;
	top:9px;
}.e22_100 { 
	background-color:rgba(243.00000071525574, 150.0000062584877, 186.0000041127205, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:8px;
	top:9px;
}.e22_95 { 
	background-color:rgba(253.0000001192093, 241.00000083446503, 255, 1);
	width:4px;
	height:1px;
	position:absolute;
	left:5px;
	top:11px;
}.e22_94 { 
	background-color:rgba(244.0000006556511, 64.00000378489494, 39.00000147521496, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:4px;
	top:8px;
}.e22_93 { 
	background-color:rgba(249.00000035762787, 150.0000062584877, 123.0000002682209, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:5px;
	top:9px;
}.e22_92 { 
	background-color:rgba(240.00000089406967, 64.00000378489494, 39.00000147521496, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:6px;
	top:9px;
}.e22_91 { 
	background-color:rgba(245.00000059604645, 184.00000423192978, 213.00000250339508, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:4px;
	top:11px;
}.e22_90 { 
	background-color:rgba(235.0000011920929, 64.00000378489494, 115.00000074505806, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:3px;
	top:11px;
}.e22_88 { 
	background-color:rgba(255, 241.00000083446503, 220.00000208616257, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:4px;
	top:9px;
}.e22_87 { 
	background-color:rgba(252.00000017881393, 248.0000004172325, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:3px;
	top:10px;
}.e22_86 { 
	background-color:rgba(255, 241.00000083446503, 220.00000208616257, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:3px;
	top:9px;
}.e22_85 { 
	background-color:rgba(250.00000029802322, 238.00000101327896, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:2px;
	top:9px;
}.e22_84 { 
	background-color:rgba(235.0000011920929, 100.00000163912773, 171.00000500679016, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:2px;
	top:10px;
}.e22_77 { 
	background-color:rgba(255, 238.00000101327896, 199.0000033378601, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:3px;
	top:8px;
}.e22_76 { 
	background-color:rgba(235.0000011920929, 64.00000378489494, 136.00000709295273, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:1px;
	top:9px;
}.e22_75 { 
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:2px;
	top:8px;
}.e22_74 { 
	background-color:rgba(235.0000011920929, 64.00000378489494, 115.00000074505806, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:3px;
	top:0px;
}.e22_122 { 
	background-color:rgba(252.00000017881393, 248.0000004172325, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:3px;
	top:1px;
}.e22_73 { 
	background-color:rgba(243.00000071525574, 191.00000381469727, 235.0000011920929, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:1px;
	top:8px;
}.e22_72 { 
	background-color:rgba(251.00000023841858, 160.00000566244125, 67.00000360608101, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:3px;
	top:7px;
}.e22_71 { 
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:2px;
	top:7px;
}.e22_70 { 
	background-color:rgba(235.0000011920929, 33.00000183284283, 130.0000074505806, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:0px;
	top:7px;
}.e22_69 { 
	background-color:rgba(250.00000029802322, 238.00000101327896, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:1px;
	top:7px;
}.e22_68 { 
	background-color:rgba(248.0000004172325, 64.00000378489494, 39.00000147521496, 1);
	width:1px;
	height:2px;
	position:absolute;
	left:3px;
	top:5px;
}.e22_66 { 
	background-color:rgba(255, 255, 227.00000166893005, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:2px;
	top:6px;
}.e22_65 { 
	background-color:rgba(252.00000017881393, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:1px;
	top:6px;
}.e22_63 { 
	background-color:rgba(252.00000017881393, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:1px;
	top:5px;
}.e22_62 { 
	background-color:rgba(255, 255, 227.00000166893005, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:2px;
	top:5px;
}.e22_61 { 
	background-color:rgba(251.00000023841858, 160.00000566244125, 67.00000360608101, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:3px;
	top:4px;
}.e22_60 { 
	background-color:rgba(235.0000011920929, 33.00000183284283, 171.00000500679016, 1);
	width:1px;
	height:2px;
	position:absolute;
	left:0px;
	top:5px;
}.e22_59 { 
	background-color:rgba(0, 0, 0, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:2px;
	top:4px;
}.e22_58 { 
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:2px;
	top:4px;
}.e22_57 { 
	background-color:rgba(250.00000029802322, 238.00000101327896, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:1px;
	top:4px;
}.e22_56 { 
	background-color:rgba(235.0000011920929, 33.00000183284283, 130.0000074505806, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:0px;
	top:4px;
}.e22_55 { 
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:2px;
	top:3px;
}.e22_54 { 
	background-color:rgba(245.00000059604645, 184.00000423192978, 213.00000250339508, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:4px;
	top:0px;
}.e22_53 { 
	background-color:rgba(244.0000006556511, 64.00000378489494, 39.00000147521496, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:4px;
	top:3px;
}.e22_52 { 
	background-color:rgba(235.0000011920929, 64.00000378489494, 115.00000074505806, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:8px;
	top:3px;
}.e22_51 { 
	background-color:rgba(248.0000004172325, 220.00000208616257, 248.0000004172325, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:9px;
	top:3px;
}.e22_50 { 
	background-color:rgba(255, 255, 255, 1);
	width:2px;
	height:2px;
	position:absolute;
	left:10px;
	top:2px;
}.e22_47 { 
	width:1px;
	height:1px;
	position:absolute;
	left:12px;
	top:2px;
}.e22_44 { 
	background-color:rgba(252.00000017881393, 241.00000083446503, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:9px;
	top:2px;
}.e22_43 { 
	background-color:rgba(243.00000071525574, 150.0000062584877, 186.0000041127205, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:8px;
	top:2px;
}.e22_42 { 
	background-color:rgba(235.0000011920929, 64.00000378489494, 95.00000193715096, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:7px;
	top:2px;
}.e22_41 { 
	background-color:rgba(249.00000035762787, 150.0000062584877, 123.0000002682209, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:5px;
	top:2px;
}.e22_40 { 
	background-color:rgba(255, 241.00000083446503, 220.00000208616257, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:4px;
	top:2px;
}.e22_39 { 
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:3px;
	top:2px;
}.e22_38 { 
	background-color:rgba(255, 238.00000101327896, 199.0000033378601, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:3px;
	top:3px;
}.e22_37 { 
	background-color:rgba(250.00000029802322, 238.00000101327896, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:2px;
	top:2px;
}.e22_36 { 
	background-color:rgba(235.0000011920929, 64.00000378489494, 136.00000709295273, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:1px;
	top:2px;
}.e22_35 { 
	background-color:rgba(255, 255, 220.00000208616257, 1);
	width:1px;
	height:4px;
	position:absolute;
	left:12px;
	top:1px;
}.e22_34 { 
	background-color:rgba(252.00000017881393, 231.00000143051147, 248.0000004172325, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:11px;
	top:1px;
}.e22_33 { 
	background-color:rgba(255, 248.0000004172325, 235.0000011920929, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:10px;
	top:1px;
}.e22_32 { 
	background-color:rgba(255, 255, 255, 1);
	width:6px;
	height:1px;
	position:absolute;
	left:4px;
	top:1px;
}.e22_31 { 
	width:1px;
	height:1px;
	position:absolute;
	left:8px;
	top:1px;
}.e22_29 { 
	background-color:rgba(253.0000001192093, 241.00000083446503, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:5px;
	top:0px;
}.e22_25 { 
	background-color:rgba(235.0000011920929, 100.00000163912773, 171.00000500679016, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:2px;
	top:1px;
}.e22_23 { 
	background-color:rgba(245.00000059604645, 160.00000566244125, 143.00000667572021, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:12px;
	top:0px;
}.e22_22 { 
	background-color:rgba(235.0000011920929, 64.00000378489494, 115.00000074505806, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:11px;
	top:0px;
}.e22_21 { 
	background-color:rgba(252.00000017881393, 198.00000339746475, 171.00000500679016, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:9px;
	top:0px;
}.e22_20 { 
	background-color:rgba(243.00000071525574, 78.00000295042992, 39.00000147521496, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:10px;
	top:0px;
}.e22_19 { 
	background-color:rgba(255, 248.0000004172325, 241.00000083446503, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:8px;
	top:0px;
}.e22_18 { 
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:7px;
	top:0px;
}.e22_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:6px;
	top:0px;
}.e22_133 { 
	color:rgba(255, 255, 255, 1);
	width:51px;
	height:17px;
	position:absolute;
	left:36px;
	top:729px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e22_135 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:744px;
	height:1px;
	position:absolute;
	left:540px;
	top:744px;
}.22_135 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e22_134 { 
	color:rgba(0, 0, 0, 1);
	width:745px;
	height:17px;
	position:absolute;
	left:539px;
	top:729px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e22_136 { 
	color:rgba(0, 0, 0, 1);
	width:162px;
	height:17px;
	position:absolute;
	left:1697px;
	top:729px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e22_148 { 
	background-color:rgba(235.0000011920929, 64.00000378489494, 115.00000074505806, 1);
	width:1px;
	height:1px;
	position:absolute;
	left:145px;
	top:864px;
}.e25_7 { 
	background-color:rgba(0, 0, 0, 1);
	width:161px;
	height:1px;
	position:absolute;
	left:1697px;
	top:744px;
}.e25_60 { 
	width:1100px;
	height:173px;
	position:absolute;
	left:402px;
	top:805px;
	background-image:url(images/_20221109.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_114 { 
	width:1200px;
	height:214px;
	position:absolute;
	left:352px;
	top:1074px;
}.e27_79 { 
	background-color:rgba(213.00000250339508, 213.00000250339508, 213.00000250339508, 1);
	width:1199px;
	height:1px;
	position:absolute;
	left:1px;
	top:0px;
}.e27_80 { 
	background-color:rgba(213.00000250339508, 213.00000250339508, 213.00000250339508, 1);
	width:1px;
	height:213px;
	position:absolute;
	left:0px;
	top:0px;
}.e27_81 { 
	background-color:rgba(213.00000250339508, 213.00000250339508, 213.00000250339508, 1);
	width:1199px;
	height:1px;
	position:absolute;
	left:0px;
	top:213px;
}.e27_82 { 
	background-color:rgba(213.00000250339508, 213.00000250339508, 213.00000250339508, 1);
	width:1px;
	height:213px;
	position:absolute;
	left:1199px;
	top:1px;
}.e27_83 { 
	background-color:rgba(213.00000250339508, 213.00000250339508, 213.00000250339508, 1);
	width:1px;
	height:212px;
	position:absolute;
	left:599px;
	top:1px;
}.e27_106 { 
	color:rgba(0, 0, 0, 1);
	width:195px;
	height:19px;
	position:absolute;
	left:203px;
	top:106px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e27_109 { 
	width:90px;
	height:27px;
	position:absolute;
	left:855px;
	top:136px;
	border-top-left-radius:57px;
	border-top-right-radius:57px;
	border-bottom-left-radius:57px;
	border-bottom-right-radius:57px;
}.ei27_109_27_289 { 
	background-color:rgba(255, 0, 0, 1);
	width:90px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.ei27_109_27_330 { 
	background-color:rgba(255, 255, 255, 1);
	width:88px;
	height:25px;
	position:absolute;
	left:1px;
	top:1px;
	border-top-left-radius:43px;
	border-top-right-radius:43px;
	border-bottom-left-radius:43px;
	border-bottom-right-radius:43px;
}.ei27_109_27_102 { 
	color:rgba(235.0000011920929, 33.00000183284283, 39.00000147521496, 1);
	width:54px;
	height:16px;
	position:absolute;
	left:18px;
	top:6px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e27_113 { 
	color:rgba(0, 0, 0, 1);
	width:66px;
	height:19px;
	position:absolute;
	left:867px;
	top:106px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e27_108 { 
	width:90px;
	height:27px;
	position:absolute;
	left:255px;
	top:136px;
	border-top-left-radius:57px;
	border-top-right-radius:57px;
	border-bottom-left-radius:57px;
	border-bottom-right-radius:57px;
}.e27_289 { 
	background-color:rgba(255, 0, 0, 1);
	width:90px;
	height:27px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e27_330 { 
	background-color:rgba(255, 255, 255, 1);
	width:88px;
	height:25px;
	position:absolute;
	left:1px;
	top:1px;
	border-top-left-radius:43px;
	border-top-right-radius:43px;
	border-bottom-left-radius:43px;
	border-bottom-right-radius:43px;
}.e27_102 { 
	color:rgba(235.0000011920929, 33.00000183284283, 39.00000147521496, 1);
	width:54px;
	height:16px;
	position:absolute;
	left:18px;
	top:6px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e27_137 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1872px;
	height:487px;
	position:absolute;
	left:1px;
	top:1336px;
}.e27_140 { 
	width:1044px;
	height:378px;
	position:absolute;
	left:442px;
	top:1391px;
}.e27_119 { 
	width:310px;
	height:206.65625px;
	position:absolute;
	left:734px;
	top:102px;
	background-image:url(images/dl1050rcm0_b1f_chapada_ofertas_png.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_118 { 
	width:310px;
	height:206.65625px;
	position:absolute;
	left:367px;
	top:102px;
	background-image:url(images/v_strom_650_xt_2022_amarela_site_ofertas_png.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_117 { 
	width:310px;
	height:206.65625px;
	position:absolute;
	left:0px;
	top:102px;
	background-image:url(images/gsx_r1000r_metallic_triton_ofertas_png.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_125 { 
	color:rgba(0, 0, 0, 1);
	width:189px;
	height:24px;
	position:absolute;
	left:428px;
	top:0px;
	font-family:Lato;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e27_127 { 
	color:rgba(0, 0, 0, 1);
	width:181px;
	height:24px;
	position:absolute;
	left:431px;
	top:24px;
	font-family:Lato;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}.e27_129 { 
	color:rgba(0, 0, 0, 1);
	width:174px;
	height:17px;
	position:absolute;
	left:436px;
	top:56px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e27_130 { 
	color:rgba(0, 0, 0, 1);
	width:172px;
	height:17px;
	position:absolute;
	left:436px;
	top:77px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e27_131 { 
	color:rgba(0, 0, 0, 1);
	width:83px;
	height:17px;
	position:absolute;
	left:114px;
	top:345px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e27_132 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:14px;
	position:absolute;
	left:90px;
	top:364px;
	font-family:Lato;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e27_133 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:14px;
	position:absolute;
	left:456px;
	top:364px;
	font-family:Lato;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e27_134 { 
	color:rgba(0, 0, 0, 1);
	width:132px;
	height:14px;
	position:absolute;
	left:823px;
	top:364px;
	font-family:Lato;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}.e27_135 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:17px;
	position:absolute;
	left:470px;
	top:346px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e27_136 { 
	color:rgba(0, 0, 0, 1);
	width:113px;
	height:17px;
	position:absolute;
	left:833px;
	top:346px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e27_143 { 
	width:1873px;
	height:600px;
	position:absolute;
	left:0px;
	top:2073px;
	background-image:url(images/vestuario_localiza_c3_a7_c3_a3o_desktop_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_145 { 
	color:rgba(0, 0, 0, 1);
	width:307.07501220703125px;
	height:48px;
	position:absolute;
	left:783.5625px;
	top:2971px;
	font-family:Lato;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	line-height:px;
}.e27_150 { 
	width:289.5625px;
	height:180px;
	position:absolute;
	left:342.21875px;
	top:3039px;
	background-image:url(images/mva_2915_370x230_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_151 { 
	color:rgba(235.0000011920929, 33.00000183284283, 39.00000147521496, 1);
	width:221.2156219482422px;
	height:37px;
	position:absolute;
	left:376.484375px;
	top:3240px;
	font-family:Lato;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_152 { 
	color:rgba(0, 0, 0, 1);
	width:228.3093719482422px;
	height:197px;
	position:absolute;
	left:372.9375px;
	top:3290px;
	font-family:Lato;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_156 { 
	width:289.5625px;
	height:180px;
	position:absolute;
	left:642.21875px;
	top:3039px;
	background-image:url(images/luo_9878_370x230_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_157 { 
	color:rgba(235.0000011920929, 33.00000183284283, 39.00000147521496, 1);
	width:202.2624969482422px;
	height:37px;
	position:absolute;
	left:685.96875px;
	top:3240px;
	font-family:Lato;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_158 { 
	color:rgba(0, 0, 0, 1);
	width:226.7624969482422px;
	height:197px;
	position:absolute;
	left:673.71875px;
	top:3290px;
	font-family:Lato;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_162 { 
	width:289.5625px;
	height:180px;
	position:absolute;
	left:942.21875px;
	top:3039px;
	background-image:url(images/whatsapp_image_2022_11_16_at_13_43_53_1_1_e1668617974702_370x230_jpeg.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_163 { 
	color:rgba(235.0000011920929, 33.00000183284283, 39.00000147521496, 1);
	width:203.1374969482422px;
	height:57px;
	position:absolute;
	left:985.53125px;
	top:3240px;
	font-family:Lato;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_164 { 
	color:rgba(0, 0, 0, 1);
	width:229.1999969482422px;
	height:217px;
	position:absolute;
	left:972.5px;
	top:3310px;
	font-family:Lato;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_168 { 
	width:289.5625px;
	height:180px;
	position:absolute;
	left:1242.21875px;
	top:3039px;
	background-image:url(images/20221108_110141_1_370x230_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_169 { 
	color:rgba(235.0000011920929, 33.00000183284283, 39.00000147521496, 1);
	width:218.0124969482422px;
	height:17px;
	position:absolute;
	left:1278.09375px;
	top:3240px;
	font-family:Lato;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_170 { 
	color:rgba(0, 0, 0, 1);
	width:225.4656219482422px;
	height:217px;
	position:absolute;
	left:1274.359375px;
	top:3270px;
	font-family:Lato;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_265 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1873px;
	height:781px;
	position:absolute;
	left:0px;
	top:3628px;
}.e27_363 { 
	background-color:rgba(177.0000046491623, 183.00000429153442, 187.00000405311584, 1);
	width:184px;
	height:62px;
	position:absolute;
	left:240px;
	top:4034px;
}.e27_264 { 
	background-color:rgba(255, 255, 255, 1);
	width:1873px;
	height:100px;
	position:absolute;
	left:0px;
	top:4400px;
}.e27_189 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:125.20623779296875px;
	height:17px;
	position:absolute;
	left:360px;
	top:3645.390625px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_191 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:139.8718719482422px;
	height:17px;
	position:absolute;
	left:360px;
	top:3676.171875px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_192 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:68.85624694824219px;
	height:17px;
	position:absolute;
	left:360px;
	top:3706.953125px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_193 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:67.68437194824219px;
	height:17px;
	position:absolute;
	left:360px;
	top:3737.734375px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_194 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:141.1999969482422px;
	height:17px;
	position:absolute;
	left:360px;
	top:3768.515625px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_195 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:97.76249694824219px;
	height:17px;
	position:absolute;
	left:360px;
	top:3799.296875px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_196 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:36.02812576293945px;
	height:17px;
	position:absolute;
	left:360px;
	top:3830.078125px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_197 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:94.48124694824219px;
	height:17px;
	position:absolute;
	left:360px;
	top:3860.859375px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_198 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:57.48125076293945px;
	height:17px;
	position:absolute;
	left:360px;
	top:3891.640625px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_200 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:51.35625457763672px;
	height:17px;
	position:absolute;
	left:590px;
	top:3645.390625px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_202 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:80.80937194824219px;
	height:17px;
	position:absolute;
	left:590px;
	top:3676.171875px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_203 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:108.60624694824219px;
	height:17px;
	position:absolute;
	left:590px;
	top:3706.953125px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_204 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:142.8562469482422px;
	height:17px;
	position:absolute;
	left:590px;
	top:3737.734375px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_205 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:104.18437194824219px;
	height:17px;
	position:absolute;
	left:590px;
	top:3768.515625px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_206 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:62.34062576293945px;
	height:17px;
	position:absolute;
	left:590px;
	top:3799.296875px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_207 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:70.46562194824219px;
	height:17px;
	position:absolute;
	left:590px;
	top:3830.078125px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_208 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:155.2937469482422px;
	height:17px;
	position:absolute;
	left:590px;
	top:3860.859375px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_210 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:83.88749694824219px;
	height:17px;
	position:absolute;
	left:820px;
	top:3645.390625px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_212 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:121.43437194824219px;
	height:17px;
	position:absolute;
	left:820px;
	top:3676.171875px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_213 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:108.16874694824219px;
	height:17px;
	position:absolute;
	left:820px;
	top:3706.953125px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_214 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:133.0593719482422px;
	height:17px;
	position:absolute;
	left:820px;
	top:3737.734375px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_215 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:115.76249694824219px;
	height:17px;
	position:absolute;
	left:820px;
	top:3768.515625px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_216 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:167.8249969482422px;
	height:17px;
	position:absolute;
	left:820px;
	top:3799.296875px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_217 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:180.7781219482422px;
	height:35px;
	position:absolute;
	left:820px;
	top:3830.078125px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_263 { 
	color:rgba(0, 0, 0, 1);
	width:202.4656219482422px;
	height:35px;
	position:absolute;
	left:1333.96484375px;
	top:4431.984375px;
	font-family:Lato;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
	line-height:px;
}.e27_262 { 
	width:196px;
	height:52px;
	position:absolute;
	left:831.1054077148438px;
	top:4423.984375px;
	background-image:url(images/logo_novo_mobil_prancheta_1_jpg.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_261 { 
	width:188px;
	height:36px;
	position:absolute;
	left:336.24603271484375px;
	top:4431.984375px;
	background-image:url(images/logo_novo_suzuki_png.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_258 { 
	color:rgba(127.00000002980232, 127.00000002980232, 127.00000002980232, 1);
	width:1196.278076171875px;
	height:37px;
	position:absolute;
	left:337px;
	top:4314px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}.e27_257 { 
	color:rgba(127.00000002980232, 127.00000002980232, 127.00000002980232, 1);
	width:566.2468872070312px;
	height:17px;
	position:absolute;
	left:337px;
	top:4274.015625px;
	font-family:Open Sans;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}.e27_256 { 
	color:rgba(127.00000002980232, 127.00000002980232, 127.00000002980232, 1);
	width:1195.653076171875px;
	height:77px;
	position:absolute;
	left:337px;
	top:4174.03125px;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}.e27_251 { 
	width:142px;
	height:60px;
	position:absolute;
	left:1446.476806640625px;
	top:4038.03125px;
}.e27_252 { 
	background-color:rgba(235.0000011920929, 33.00000183284283, 39.00000147521496, 1);
	width:142px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}.27_252 { 
	border:1px solid rgba(235.0000011920929, 33.00000183284283, 39.00000147521496, 1);
}.e27_253 { 
	color:rgba(255, 255, 255, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:46.0625px;
	top:19.5px;
	font-family:Open Sans;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_249 { 
	background-color:rgba(255, 255, 255, 1);
	width:371.6269836425781px;
	height:60px;
	position:absolute;
	left:1046.749267578125px;
	top:4038.03125px;
}.27_249 { 
	border:1px solid rgba(177.0000046491623, 183.00000429153442, 187.00000405311584, 1);
}.e27_250 { 
	color:rgba(177.0000046491623, 177.0000046491623, 177.0000046491623, 1);
	width:317.36944580078125px;
	height:19px;
	position:absolute;
	left:27.25264549255371px;
	top:20.5px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e27_247 { 
	background-color:rgba(255, 255, 255, 1);
	width:371.6269836425781px;
	height:60px;
	position:absolute;
	left:663.9735107421875px;
	top:4038.03125px;
}.27_247 { 
	border:1px solid rgba(177.0000046491623, 183.00000429153442, 187.00000405311584, 1);
}.e27_248 { 
	color:rgba(177.0000046491623, 177.0000046491623, 177.0000046491623, 1);
	width:317.36944580078125px;
	height:19px;
	position:absolute;
	left:27.25264549255371px;
	top:20.5px;
	font-family:Open Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e27_245 { 
	color:rgba(50.000000819563866, 50.000000819563866, 50.000000819563866, 1);
	width:325.0536193847656px;
	height:17px;
	position:absolute;
	left:663.9735107421875px;
	top:4010.03125px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_244 { 
	color:rgba(235.0000011920929, 33.00000183284283, 39.00000147521496, 1);
	width:526.6032104492188px;
	height:24px;
	position:absolute;
	left:663.9735107421875px;
	top:3984.03125px;
	font-family:Lato;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
	line-height:px;
}.e27_234 { 
	color:rgba(50.000000819563866, 50.000000819563866, 50.000000819563866, 1);
	width:114.48124694824219px;
	height:22px;
	position:absolute;
	left:274.88055419921875px;
	top:3991.03125px;
	font-family:Open Sans;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}.e27_230 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:141.1999969482422px;
	height:17px;
	position:absolute;
	left:1280px;
	top:3786.515625px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_229 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:62.32500076293945px;
	height:17px;
	position:absolute;
	left:1280px;
	top:3755.734375px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_228 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:143.8562469482422px;
	height:35px;
	position:absolute;
	left:1280px;
	top:3706.953125px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_227 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:77.26249694824219px;
	height:17px;
	position:absolute;
	left:1280px;
	top:3676.171875px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_225 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:66.75936889648438px;
	height:17px;
	position:absolute;
	left:1280px;
	top:3645.390625px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_223 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:104.51249694824219px;
	height:17px;
	position:absolute;
	left:1050px;
	top:3737.734375px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_222 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:93.41874694824219px;
	height:17px;
	position:absolute;
	left:1050px;
	top:3706.953125px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_221 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:107.26249694824219px;
	height:17px;
	position:absolute;
	left:1050px;
	top:3676.171875px;
	font-family:Lato;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
	line-height:px;
}.e27_219 { 
	color:rgba(38.0000015348196, 38.0000015348196, 38.0000015348196, 1);
	width:106.68437194824219px;
	height:17px;
	position:absolute;
	left:1050px;
	top:3645.390625px;
	font-family:Lato;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.e27_364 { 
	background-color:rgba(255, 255, 255, 1);
	width:182px;
	height:60px;
	position:absolute;
	left:241px;
	top:4035px;
}.e27_366 { 
	background-color:rgba(177.0000046491623, 183.00000429153442, 187.00000405311584, 1);
	width:1px;
	height:60px;
	position:absolute;
	left:355px;
	top:4035px;
}.e27_365 { 
	background-color:rgba(177.0000046491623, 183.00000429153442, 187.00000405311584, 1);
	width:1px;
	height:60px;
	position:absolute;
	left:294px;
	top:4035px;
}.e27_239 { 
	width:36px;
	height:36px;
	position:absolute;
	left:314.02117919921875px;
	top:4047.03125px;
	background-image:url(images/i.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_237 { 
	width:36px;
	height:36px;
	position:absolute;
	left:253.0211639404297px;
	top:4047.03125px;
	background-image:url(images/i.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_241 { 
	width:36px;
	height:36px;
	position:absolute;
	left:375.02117919921875px;
	top:4047.03125px;
	background-image:url(images/i.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_370 { 
	width:62px;
	height:48px;
	position:absolute;
	left:621px;
	top:1127px;
	background-image:url(images/________1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e27_371 { 
	width:61px;
	height:54px;
	position:absolute;
	left:1225px;
	top:1121px;
	background-image:url(images/iiiiiiiiiiiiiiiiiiiiii_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}