.corpo{
    margin : 0;
    padding : 0;
    }
    
    .container{
    display : grid;
    grid-template : "a a a"
                    "b b b"
                    "c c c";
            
    width : 100%;
    height : 100vh;
    grid-gap : 5px;
    background-color : #000000
    }
    
    .cabeca{
    display : grid;
    height : 15vh;
    grid-area : a;
    background-color : #808080;
    }
    
    .meio{
    display : grid;
    height : 65vh;
    grid-area : b;
    background-color : #0000ff;
    }
    
    .rodape{
    display : grid;
    height : 15vh;
    grid-area : c;
    background-color : #808080;
    }